<div id="invoice">
  <div class="wrapper_div">
    <div class="row_1">
        INVOICE
    </div>
    <div class="row_2">
     <div>MAHINDRA TRANS LOGISTICS</div>
     <div>Address : No.1,SEMBIUM ROAD,KATHIRVEDU,PUZHAL</div>
     <div>City  : CHENNAI PIN Code  : 600066  State :  TAMILNADU </div>
     <div>Contact No : 0938021020 , 07842391412 , Mail  : admin@mtllogistics.in</div>
  </div>
  <div class="row_3">
    <div>
      <div>Invoice Serial No: 093</div>
      <div>Invoice Date : 10.06.2022</div>
      <div>Branch : Chennai </div>
    </div>
    <div>
      <div>GST No : 33AYGPM8635B1ZK</div>
      <div>PAN NO : AYGPM8635B</div>

    </div>
   
 </div>
  </div>
</div>

<div (click)="downloadPDF()">
  download
</div>

<div (click)="download2()">
  download2
</div>

<div (click)="download3()">
  download3
</div>
 
