
.title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    text-align: center;
    padding: 15px 12px;
}
tr{
    border-bottom: 1px solid #f1f1f1;
}
tr:hover td{
    background-color: #f9f9f9;
}
.status_tag{
    color: #fff;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
}
.status_tag.primary_tag{
    background-color: var(--color-positive);
}
.status_tag.warn_tag{
    background-color: var(--color-warn);
}